In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [34]:
data = pd.read_csv('data/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [35]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [36]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [37]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [38]:
one_hot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [39]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns=one_hot_encoder_geo.get_feature_names_out())
geo_encoder_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [40]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [41]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

In [42]:
X = data.drop('Exited', axis=1)
y = data['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [43]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## Artificial Neural Network

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [45]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## Input layer
    Dense(32, activation='relu'),  ## Hidden layer 
    Dense(1, activation='sigmoid')  ## Output layer
])

In [46]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [48]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [49]:
early_stopping_callback = EarlyStopping(
    monitor='val_loss',
    patience=5,
    restore_best_weights=True
)

In [50]:
history = model.fit(X_train, y_train,validation_data=(X_test, y_test),epochs=100,callbacks=[tensorflow_callback, early_stopping_callback], batch_size=32)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4498 - accuracy: 0.8059 - val_loss: 0.4007 - val_accuracy: 0.8300
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.8361 - val_loss: 0.3629 - val_accuracy: 0.8530
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3589 - accuracy: 0.8525 - val_loss: 0.3464 - val_accuracy: 0.8600
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3445 - accuracy: 0.8597 - val_loss: 0.3429 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8609 - val_loss: 0.3441 - val_accuracy: 0.8560
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8606 - val_loss: 0.3388 - val_accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3298 - accuracy: 0.8630 - val_loss: 0.3396 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8659 - val_loss: 0.3424 - val_accuracy: 0.8630
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3246 - accuracy: 0.8671 - val_loss: 0.3399 - val_accuracy: 0.8600
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8652 - val_loss: 0.3379 - val_accuracy: 0.8590
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8671 - val_loss: 0.3425 - val_accuracy: 0.8605
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3171 - accuracy: 0.8684 - val_loss: 0.3423 - val_accuracy: 0.8610
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3173 - accuracy: 0.8661 - val_loss: 0.3369 - val_accuracy: 0.8600
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3163 - accuracy: 0.8689 - val_loss: 0.3344 - val_accuracy: 0.8610
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3150 - accuracy: 0.8676 - val_loss: 0.3344 - val_accuracy: 0.8645
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3124 - accuracy: 0.8701 - val_loss: 0.3378 - val_accuracy: 0.8575
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3107 - accuracy: 0.8701 - val_loss: 0.3380 - val_accuracy: 0.8600
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3098 - accuracy: 0.8714 - val_loss: 0.3427 - val_accuracy: 0.8580
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3083 - accuracy: 0.8723 - val_loss: 0.3358 - val_accuracy: 0.8610
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3070 - accuracy: 0.8710 - val_loss: 0.3386 - val_accuracy: 0.8605

In [51]:
model.save('model.h5')

m:\Git-Hub Projects\ANN-Classification\.conda\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [52]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [53]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 16432), started 0:16:09 ago. (Use '!kill 16432' to kill it.)

In [54]:
from tensorflow.keras.models import load_model

model = load_model('model.h5')

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('one_hot_encoder_geo.pkl', 'rb') as file:
    one_hot_encoder_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [55]:
## Example input
example_input = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 5,
    'Balance': 100000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [56]:
geo_encoded = one_hot_encoder_geo.transform([[example_input['Geography']]]).toarray()

m:\Git-Hub Projects\ANN-Classification\.conda\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [57]:
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out())
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [62]:
input_df = pd.DataFrame([example_input])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,5,100000,2,1,1,50000

In [63]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,5,100000,2,1,1,50000

In [65]:
input_df = pd.concat([input_df.drop('Geography', axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,5,100000,2,1,1,50000,1.0,0.0,0.0

In [66]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.00134472,  0.38262839,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [68]:
prediction = model.predict(input_scaled)
prediction[0][0]

1/1 [==============================] - 0s 15ms/step

0.06738925